.product-see{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.single-product{
    margin: 10px;
    width: 200px;
}
img{
    width: 300px;
    height: 300px;
}
.head{
    text-align: center;
}